spImagesDirectory = /Users/Shlomi/Desktop/SoftwareProject
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 100
spPCADimension = 20

spPCAFilename = blabla
spNumOfFeatures = 120
spExtractionMode = true
spNumOfSimilarImages = 10
spKDTreeSplitMethod = RANDOM
spKNN = 2
spMinimalGUI = true
spLoggerLevel = 3
spLoggerFilename = loggerfile
